@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body{
    color: white;
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    background-image: url(imagen-fundo-corpo.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
header{
    color: rgb(247, 210, 161);
    padding: 1%;
    background-size: cover;
    background-position: center;
    text-align: center;
}
header h1{
    border-radius: 10px;
    margin: 1% auto;
    font-size: 3em;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    background-color: rgba(0, 0, 0, 0.258);
    width: 20%;
}
header p{
    font-size: 1.5em;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
    background-color: rgba(0, 0, 0, 0.258);
    width: 30%;
    margin: 1% auto;
    border-radius: 10px;
}
main{
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
}
section{
    margin: 20px auto;
    padding: 20px;
}
h1, h2{
    text-align: center;
}
p{
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.278);
    line-height: 2em;
    font-size: 1.3em;
}
h1, h2, ul, li{
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.278);
    line-height: 2em;
    font-size: 1.2em;
}